*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: yellowgreen;
}

.container{
    height: 550px;
    width: 550px;
    padding: 2rem;
    margin: 50px auto;
    background:#FFFFFF;
    border-radius: 20px;
    display: block;
    justify-content: center;
    align-items: center;
}

.form-title{
    margin-bottom: 20px;

;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 60px;
    height: 60px;
    text-align: center;
    width: 100%;
    border-radius: 10px;

}

.put{ 

    background-color: #F1F5F9;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 15%;
    float:right;
    position: absolute;
    right: 34pc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;


}


.put::placeholder{
    padding-left: 10px;
    -webkit-text-fill-color: #CFD4E2;
}


label{
    display: inline-block;
    width: 250px;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}


#sup-btn{
    width:100%;
    border: none;
    height: 38px;
    border-radius: 10px;
    background-color: rgb(125, 97, 255);
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 1px;
    margin-top: 30px;
}
#sup-btn:hover{
    text-decoration: underline;
    background-color: rgb(125,125,235);
    cursor: pointer;
}

.or{
    text-align: center;
}

.already{
    display: flex;
    margin-top: 10px;

}


.bton{
    display: flex;
    font-size: 17px;
    justify-content: space-evenly;
    padding: 0 4rem;
    margin-top: 0.9rem;
    
}

#show{
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: royalblue;
    position: absolute;
    top: 22.2pc;
    right:35pc;
}

#show:hover{
    cursor: pointer;
}


#showing{
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: royalblue;
    position: absolute;
    top: 25.1pc;
    right:35pc;
}

#showing:hover{
    cursor: pointer;
}


#sin-btn{
    color: rgb(125, 97, 255);
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    
    
}

#sin-btn:hover{
    text-decoration: underline;
    color: rgb(125,125,235);
    cursor: pointer;
}