@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url(colors.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #323232 ;
}





.jar{
    max-width: 400px;
    height: 320px;
    margin: 200px 0px 0px 550px ;
    background-color: rgb(125,125,235);
    border-radius: 20px;
    position: relative;

    
}


.jar #message{
    position: absolute;
    margin-top: 15%;
    padding: 50px 50px;
    color:white;
    font-size: 21px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;

}

#thank{

    text-align: center;
}



.jar #head{
    position:absolute;
    margin-top: 40px;
    margin-left: 53px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: bolder;
}



.jar #ok{
    width: 140px;
    border: none;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: var(--green-500);
    font-size: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: bolder;
    align-items: center;
    position:absolute;
    top: 240px;
    left: 50px;
    transition:  transform 0.3s;

    
    
}


.jar #ok:hover{
    background-color: var(--accent-lime);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 1px 1px 30px 8px #cccccc;

}



.jar #list{
    width: 140px;
    border: none;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: var(--green-500);
    font-size: 20px;
    font-family:"Raleway", sans-serif;
    font-weight: bolder;
    position:absolute;
    top: 240px;
    right: 50px;
    transition: transform 0.3s;
    
    
}


.jar #list:hover{
    background-color: var(--accent-lime);
    transform: scale(1.04);
    color: white;
    cursor:pointer;
    box-shadow: 1px 1px 30px 8px #cccccc;

}