@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: var(--darkcharcoal);
    position: relative;
}

.box{
    width: 400px;
    height: 400px;
    background-color: var(--accent-lavender);
    margin-left: 600px;
    margin-top: 150px;
    border-radius: 20px;
    position: relative;
}

.box #top{
    font-size: 40px;
    padding: 30px 0px 20px 45px;
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    color: var(--shadow-grey);
}


.box #message{
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--shadow-grey);
    text-align: center;
    padding: 15px 40px 0px 45px;
}

.box #fine{
    background-color: var(--green-700);
    border: none;
    border-radius: 10px;
    width: 300px;
    margin: 20px 0px 0px 55px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
    position: absolute;
    transition:  transform 0.3s;



}

.box #fine:hover{

    background-color: var(--green-500);
    color: var(--shadow-grey);
    cursor: pointer;
    opacity: 0.9;
    /* font-size: 30px; */
    transform: scale(1.05);
    box-shadow: 0px 7px 30px 9px #7c877d;
    
}